<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Database</title>
</head>
<body>
    <img src="/images/StarLion.png" alt="Lion Brewery" />
    <h1>Welcome to my F1 DB</h1>
    <form action="/confirmEditDriver/" method="post">
        <h2>Driver Information</h2>
        <input type="text" name="num" id="num" placeholder="Number" value="<%= Edit !== 999999 ? drivers.find(d => d.num === Edit)?.num : '' %>" />
        <input type="text" name="code" id="code" placeholder="Code" value="<%= Edit !== 999999 ? drivers.find(d => d.num === Edit)?.code : '' %>" />
        <input type="text" name="fname" id="fname" placeholder="Forename" value="<%= Edit !== 999999 ? drivers.find(d => d.num === Edit)?.forename : '' %>" />
        <input type="text" name="sname" id="sname" placeholder="Surname" value="<%= Edit !== 999999 ? drivers.find(d => d.num === Edit)?.surname : '' %>" />
        <br />
        <label for="dob">Date of Birth: </label>
        <input type="date" name="dob" id="dob" value="<%= Edit !== 999999 ? drivers.find(d => d.num === Edit)?.dob.toISOString().split('T')[0] : '' %>" />
        <label for="url">Biography URL: </label>
        <input type="url" name="url" id="url" value="<%= Edit !== 999999 ? drivers.find(d => d.num === Edit)?.url : '' %>" />
        <br />
        <label for="nation">Nationality: </label>
        <select name="nation" id="nation" class="nation">
            <% countries.forEach((element) => { %>
                <option value="<%= element.label %>" <%= Edit !== 999999 && drivers.find(d => d.num === Edit)?.nationality === element.label ? 'selected' : '' %>><%= element.label %></option>
            <% }) %>
        </select>
        <label for="team">Team: </label>
        <select name="team" id="team" class="team">
            <% teams.forEach((team) => { %>
                <option value="<%= team.id %>" <%= Edit !== 999999 && drivers.find(d => d.num === Edit)?.team?.id === team.id ? 'selected' : '' %>><%= team.name %></option>
            <% }) %>
        </select>
        <p><input type="submit" value="<%= Edit !== 999999 ? 'Update Driver' : 'Add Driver' %>" /></p>
    </form>

    <% if (driverList) { %>
        <a href="/toggleTable">Go to the Teams Table</a>
    <% } else { %>
        <a href="/toggleTable">Go to the Drivers Table</a>
    <% } %>

    <div class="table">
        <% if (driverList) { %>
            <%- include("./partials/drivers") -%>
        <% } else { %>
            <%- include("./partials/teams") -%>
        <% } %>
    </div>

    <%- include("./partials/footer") -%>
</body>
</html>
